{% extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <h1>Salle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ salle.name }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ salle.capacity }}</td>
            </tr>
            <tr>
                <th>Building</th>
                <td>{{ salle.building }}</td>
            </tr>
            <tr>
                <th>Floor</th>
                <td>{{ salle.floor }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ salle.status }}</td>
            </tr>
            <tr>
                <th>ImagePath</th>
                <td>{{ salle.imagePath }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ salle.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ salle.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_resource_salle_index') }}">back to list</a>

    <a href="{{ path('app_resource_salle_edit', {'id': salle.id}) }}">edit</a>

    {{ include('resource/salle/_delete_form.html.twig') }}
{% endblock %}
